<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/aframe-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + Aframe</title>
        <!-- Aframe components -->
		<!-- (use is:inline)  -->
        <script src="https://aframe.io/releases/1.6.0/aframe.min.js" is:inline></script>

        <!-- My scripts -->
		<script src="../scripts/global.js"></script>
		<slot name="head"></slot>
	</head>
	<body>
		<slot/>
	</body>
</html>
